h1:hover {
    color: #ffffff;
}

h1 span {
    background: linear-gradient(90deg, #2802ff, #7f22dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
h1 span:active {
    background: linear-gradient(90deg,  #7f22dc,#2802ff);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    cursor: pointer;
    
}

p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
   
}
h1,p{
    text-align: center;

}
.btn1{

    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    background-color: #8d1db3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 45%;
}

.btn1:hover {
    background-color: #7d02aa;
    transform: scale(1.05);
    color: rgb(255, 255, 255);
}

.btn1:active {
    background-color: #73059f;
    transform: scale(1);
    color: #000000;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    overflow-x: auto;
    background-color: #e6e6e6;
    margin-top: 50px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;

}

.card img {

    width: 100%;
    height: 200px;
    border-radius: 10px;
    position: relative;

}

.card:hover {

    transform: scale(1.12);
    /* card is up scale */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pricing-section {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.pricing-options {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;

}

.pricing-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px !important;
    height: 350px !important;
    background-color: #f9f9f9;
}

.pricing-card h3 {
    color: #6a1b9a;
}

.pricing-card p {
    margin: 10px 0;
    font-size: 14px;
}

.pricing-card button {
    padding: 10px;
    border: none;
    background-color: #6a1b9a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
}

.pricing-card button:hover {
    background-color: #4a148c;
}

.pricing-note {
    font-size: 14px;
    color: #555;
    margin-top: 100px;
}

.trusted-section {
    text-align: center;
    margin: 50px 0;
}

.trusted-logos {
    overflow: hidden;
    white-space: inherit;
    width: 100%;
}

.logos-wrapper {
    display: flex;
    gap: 20px;
    animation: scroll 15s linear infinite;
}

.trusted-logos img {
    height: 40px;
}

.ai-section {

    text-align: center;
    margin-top: 50px;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.ai-section button {
    padding: 20px 50px;
    font-size: 18px;
    margin-right: 300px;
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.ai-section button:hover {
    background-color: #4a148c;
}

.ai-section img {
    margin-top: 50px;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}