/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}


section {
    padding: 2rem;
    text-align: center;
}

#home {
    background: #f4f4f4;
    padding: 3rem 1rem;
}

#about, #services, #contact {
    background: #8e8e8e;
    margin-top: 1rem;
}