* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: rgb(147, 147, 147);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.form {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  background-color: #5a67d8;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #434cda;
}

p {
  font-size: 14px;
  color: #666;
}